{% extends 'alloa_matching/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href='{% static "/css/messages.css" %}'>
<link rel="icon" href="{% static 'images/matching.png' %}">
    <title>Alloa - {{instance.name}}</title>
{% endblock %}

{% block body_block %}
    {% if messages %}
            {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
    {% endif %}
    <div style = "margin-top:20px;"><h1>{{ instance.name }} - </h1><h3 class = "stage">Closed</h3></div>
    {% if unranked %}
        <p>No ranks have been submitted for you and the project advisor level rankings have now closed.</p>
    {% else %}
        <p>Results will be published by an administrator soon.</p>
        {% if choices|length > 1 %}
            <h3>Your Rankings</h3>
        {% else %}
            <h3>Your Ranking</h3>
        {% endif %}
        <table class = "choices">
            <tr>
                {% if choices|length > 1 %}
                    <th>Choices</th>
                {% else %}
                    <th>Choice</th>
                {% endif %}
                <th>Description</th>
                <th>Rank</th>
            </tr>
            {% for choice in choices %}
                <tr>
                    <td>{{ choice.project }}</td>
                    <td>{{ choice.project.description }}</td>
                    {% if choice.level == 1 %}
                        <td>Expert Knowledge</td>
                    {% elif choice.level == 2 %}
                        <td>High Knowledge</td>
                    {% else %}
                        <td>Good Knowledge</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block style_block %}
    h1,h3,p{
        font-family: arial;
    }
    h1,.stage{
        display:inline;
    }
    .stage{
        background-color: #f09618;
        color: white;
        padding: 5px;
        border-radius:5px;
        vertical-align:4px;
    }
    .choices{
        width:100%;
        border-collapse: collapse;
    }
    .choices th{
        text-align:left;
        background-color:grey;
        color:white;
    }
    .choices th,td{
        padding: 10px;
        font-family:arial;
        font-size: 16px;
        border: 1px solid #ddd;
    }
    .choices tr:nth-child(even){
        background-color: #f2f2f2;
    }
{% endblock %}