{% extends 'alloa_matching/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body_block %}
    <div style = "margin:20px 0;"><h1>{{ instance.name }} - </h1><h3 class = "stage">Closed</h3></div>
    <a href = "{% url 'compute_matching' instance.id %}" onclick="return confirm('Are you sure you want to move to the results stage, you cannot go back after this?')"><label class = "compute">Compute Matching</label></a>
    <h2>Student Rankings</h2>
    <table id="results" class = "display">
        <thead>
            <tr>
                <th>Student</th>
                {% for r in range %}
                    <th>Rank {{r}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student,student_result in results %}
            <tr>
                <td>{{student.user_profile.user.email}}</td>
                {% for result in student_result %} 
                        <td>{{result.project}}</td>
                {% endfor %}

            {% endfor %}
            {% for result in unmatched %}
                <tr style="background-color:#ff4d4d;" class = "unmatched">
                    <td style="background-color:#ff4d4d;">{{result.user_profile.user.email}}</td>
                    <td>Unmatched</td>
                    <td>Unmatched</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Advisor Levels</h2>
    <table id="projects" class = "display">
        <thead>
            <tr>
                <th>Project</th>
                <th>Academic</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            
                {% for level in project %}
                <tr> 
                    <td>{{level.project}}</td>
                    <td>{{level.academic}}</td>
                    <td>{{level.level}}</td>
                </tr>
                {% endfor %}
            
            {% endfor %}
            {% for result in unmatched %}
                <tr style="background-color:#ff4d4d;" class = "unmatched">
                    <td style="background-color:#ff4d4d;">{{result.user_profile.user.email}}</td>
                    <td>Unmatched</td>
                    <td>Unmatched</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script_block %}
    <script>
        $(document).ready(function() { 
            // DataTable
            $('#results').DataTable();
            $('#projects').DataTable();
        });
    </script>
{% endblock %}

{% block style_block %}
    table{
        font-family:arial;
    }
    .unmatched{
        color:white;
    }
    .container{
        padding: 0 1%;
        margin-bottom:20px;
    }
    .dataTables_wrapper {
        font-family: arial;
        font-size: 15px;
        position: relative;
        clear: both;
        *zoom: 1;
        zoom: 1;
    }
    h1,h2,h3,label{
        font-family: arial;
    }
    h1,.stage{
        display:inline;
    }
    .stage{
        background-color: #f0d805;
        color:#787878;
        padding: 5px;
        border-radius:5px;
        vertical-align:4px;
    }
    .compute {
        padding:10px;
        font-size:16px;
        display: inline-block;
        cursor:pointer;
        color:white;
        background-color: #4CAF50;;
        border:1px solid #4CAF50;;
    }
    .compute:hover {
        color:#4CAF50;;
        background-color: white;
    }
{% endblock%}